# Shell history files
*history

# Vim files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.viminfo
Session.vim
.netrwhist
/backgrounds/.backgrounds/*
/config/.config/qutebrowser/qsettings/*
/config/.config/pulse/*
/config/.config/dconf/*
/config/.config/qutebrowser/autoconfig.yml
/config/.config/pavucontrol.ini

# This file holds username/pass for accounts related to scripts such as
# the background fetch python script which requires reddit credentials
config.ini
google_ddns_update
output.log
